:root{
    --black:#222;
    --white-smoke:#ebefef;
    --steel-blue:#0b79fb;
    --steel-blue-2:#2683ab;
    --deep-sky-blue:#2e9dcc;
    --sweat-purple:#c191e7;
    --green-yellow:#ccff7d;
    --dark-cyan:#2e8e83;
  
    --nagivioleta: #4b59ed;
    --nagiobispo: #b18cfe;
    --nagimagenta: #af14af;
    --nagirosa: #c299c0;
  
  }



body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: var(--nagirosa); /* Dark background for cinema mode */
    color: #fff;
    overflow-x: hidden; /* Prevent horizontal scrolling */
    overflow-y: auto; /* Allow vertical scrolling */
    scrollbar-width: none; /* Hides scrollbar for Firefox */
    -ms-overflow-style: none; /* Hides scrollbar for IE */
}

::-webkit-scrollbar {
    display: none; /* Hides the scrollbar for WebKit browsers */
}

/* Header Styles */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image: linear-gradient(to right, rgba(77, 39, 92, 0.301), rgb(119, 0, 255));
    padding: 10px 20px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    border-bottom: solid;
}
#logout-button{
    margin-left: 20px;
}
.header .logo img {
    width: 50vh;
}

.header .menu {
    display: flex;
    gap: 20px;
    margin-right: 4vw;
}

.header .menu a {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    background-color: var(--nagiobispo);
    padding:7px;
    border-radius:5px;
}

.header .menu a:hover {
    background-color: var(--nagivioleta);
}

.header-right {
    margin-right: 25px;
    display: flex;
    align-items: center;
    position: relative;
}
.header-right input[type="text"] {
    padding: 10px;
    outline: none;
    margin-right: 25px;
    border-radius: 20px;
    border: none;
    display: none; /* Initially hidden */
}
.header-right input[type="text"].visible {
    display: block;
}
#user-info{
    margin-right: 20px;
}

.header-right button {
    margin-right: 2vw;
    padding: .8rem 1.25rem;
    background-color: var(--nagiobispo);
    color: var(--white-smoke);
    border: 1px #000;
    border-radius: .25rem;
    cursor: pointer;
    transition: background-color 0.3s;
}
.header-right button:hover {
    background-color: #ddd;
}

/* Main Section Styles */
.main-section {
    width: 100%;
    height: 80vh;
    background-color: #000;
    position: relative;
    margin-top:17vh;
}

.main-img {
    width: 100%;
    height: 80vh;
    object-fit: cover;
}

#mainVideo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
}

/* Video Info and Carousel Section */
.info-carousel-section {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 80vh; /* Ensure the section takes full viewport height */
    margin-top: 20px; /* Space between main section and this section */
}

.video-info {
    flex: 0 0 65%;
    background-color: var(--nagivioleta);
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin: 0 1vw 1vw 1vw;
    border:solid rgba(200, 0, 255, 0.096);
}

.video-title {
    color:#e6c6ff;
    font-size: 24px;
    font-weight: bold;
    margin: 0;
}

.descripcion {
    margin-top: 10px;
    padding: 10px 20px 20px 20px;
    background-color: #2c1f36;
    border: 1px solid #585858;
    border-radius: 10px;
}

/* Carousel Section Styles */
.carousel-section {
    flex: 0 0 32%; /* Carousel takes the remaining 35% */
    background-color: var(--black);
    box-shadow: -4px 0 8px rgba(0, 0, 0, 0.5);
    height: auto; /* Height adjusts based on content */
    overflow: hidden; /* Hide all scrollbars */
    cursor: default; /* Ensure default cursor behavior */
}

.carousel-container {    
    margin:1vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden; /* Hide scrollbars */
}

.carousel {
    display: flex;
    flex-direction: column;
    overflow-y: auto; /* Vertical scroll only if needed */
    cursor: pointer; /* Ensure pointer cursor */
}

.carousel-item {
    background-color: rgba(82, 65, 99, 0.411);
    margin-bottom: 10px;
    text-align: center;
}

.carousel-item-img {
    width: 93%;
    height: auto;
    border-radius: 5px;
    padding: 1vw;
}

.carousel-label {
    margin-top: 5px;
    font-size: 14px;
}

/* Hide scrollbar */
.carousel-section::-webkit-scrollbar {
    display: none;
}
