
        body {
            font-family: Arial, sans-serif;
            margin: 0;
        }
        .no-scrollbar {
            -ms-overflow-style: none;
            overflow: -moz-scrollbars-none; 
        }
        
        .no-scrollbar::-webkit-scrollbar {
            display: none;
        }

        .main-section {
            position: relative;
            height: 75vh;
        }

        .main-img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: opacity 0.5s ease;
        }

        .carousel-section {
            overflow: hidden;
            background-color: #964bdf;
            position: relative;
            
        }

        .carousel-container {            
            display: flex;
            overflow: hidden;
        }

        .carousel {
            display: flex;
            transition: transform 0.3s ease;
        }

        .carousel-item {
            flex: 0 0 auto; /* Prevent items from shrinking or growing */
    padding: 20px; /* Space between items */
    box-sizing: border-box;
                height:25vh;
        }

        .carousel-item img {
             width: 100%; /* Make image fill the container */
    display: block;
            cursor: pointer;
            transition: transform 0.3s ease;
        }

        .carousel img:hover {
            transform: scale(1.1);
        }

        .carousel-label {
           text-align: center;
    padding: 5px 0;
        }

        .arrow {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            background: rgba(0, 0, 0, 0.5);
            color: white;
            border: none;
            padding: 10px;
            cursor: pointer;
            font-size: 18px;
            z-index: 10;
        }

        .arrow-left {
            left: 0;
        }

        .arrow-right {
            right: 0;
        }

        @media (max-width: 768px) {
            .carousel-container {
                flex-direction: column;
                align-items: stretch;
            }

            .carousel {
                flex-direction: column;
                overflow-y: auto;
                display: block;
                transition: transform 0.3s ease;
            }

            .arrow-left, .arrow-right {
                top: auto;
                bottom: 0;
                width: 100%;
                font-size: 24px;
            }

            .arrow-left {
                transform: none;
            }

            .arrow-right {
                transform: rotate(180deg);
            }
        }
