        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            min-height: 100vh;
        }

        :root{
            --black:#222;
            --white-smoke:#ebefef;
            --steel-blue:#0b79fb;
            --steel-blue-2:#2683ab;
            --deep-sky-blue:#2e9dcc;
            --sweat-purple:#c191e7;
            --green-yellow:#ccff7d;
            --dark-cyan:#2e8e83;
          
            --nagivioleta: #4b59ed;
            --nagiobispo: #b18cfe;
            --nagimagenta: #af14af;
            --nagirosa: #fac8f8;
          
          }

          
@font-face {
    font-family: "Monument Extended Regular";
    src: url("../src/fonts/MonumentExtended\ Regular/MonumentExtended-Regular.otf") format("truetype");
  }
  @font-face {
    font-family: "Gotham Medium Regular";
    src: url("../src/fonts/Gotham\ Medium.otf") format("truetype");
  }
  .customfont { 
    font-family: "Gotham Medium Regular";
  }
  .titlefont{
    font-family: "Monument Extended Regular";
  }

        .no-scrollbar {
            -ms-overflow-style: none;
            overflow: -moz-scrollbars-none; 
        }
        
        .no-scrollbar::-webkit-scrollbar {
            display: none;
        }
        header {
            width: 100%;
            background-color: var(--nagivioleta);
            color: white;
            position: fixed;
            top: 0;
            z-index: 1000;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .header-logo {
            display: flex;
            align-items: center;
        }
        .header-logo img {
            height: 50px;
            margin-right: 10px;
            padding: 10px;
        }
        .header-right {
            display: flex;
            align-items: center;
            position: relative;
        }
        .header-right input[type="text"] {
            padding: 10px;
            margin-right: 25px;
            border-radius: 20px;
            border: none;
            display: none; /* Initially hidden */
        }
        .header-right input[type="text"].visible {
            display: block;
        }
        .image-preview {
            width: 40px;
            height: 40px;
            object-fit: cover;
            margin-right: 10px;
            border-radius: 3px;
            display: none; /* Hidden by default */
            cursor: pointer;
        }
        
        .header-right button {
            margin-right: 2vw;
            padding: .8rem 1.25rem;
            background-color: var(--nagiobispo);
            color: var(--white-smoke);
            border: 1px #000;
            border-radius: .25rem;
            cursor: pointer;
            transition: background-color 0.3s;
        }
        .header-right button:hover {
            background-color: #ddd;
        }
        .container {
            margin-top: 80px;
            flex-grow: 1;
            display: flex;
            width: 100%;
        }
        .left-panel {
            position: fixed;
            width: 20vw;
            background-color: #f4f4f4;
            box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
        }
        .left-panel button {
            width: 95%;
            padding: 10px;
            margin: 10px 0 10px 10px;
            border: none;
            background-color: #bf7ec5;
            color: rgb(44, 39, 39);
            cursor: pointer;
            transition: background-color 0.3s;
        }
        .left-panel button:hover {
            background-color: #2a0833;
            color: white;
        }
        .main-content {
            margin-left: 21vw;
            flex-grow: 1;
            padding: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
            background: linear-gradient(0.25turn, #111111, #26152e, #524257, #382142, #0f0f0f);
        }

        .img-clases:hover{
            border-radius: 100%;
            /*height: 80%;*/
        }
        
        .welcome-section {
                margin-bottom: 20px;
                text-align: center;
                color: #f0eff1;
                background: #ffffff21;
                width: 100%;
                border: solid 1.8px #4d4a509e;
                border-radius: %;           
        }
        .welcome-section h2 {
                margin: 0;
                font-size: 24px;
                padding-top:15px;
        }
        .image-grid {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(3, 1fr);
            gap: 10px;
            width: 100vw;
            max-width: 800px;
        }
        .image-grid div {
                border-radius: 54px;
    background-color: #ff54ae78;
    width: 100%;
    padding-bottom: 100%;
    position: relative;
        }
        .image-grid div img {
                border-radius: 20px;
    position: absolute;
    border: solid 2px #ffffffa8;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
        }

        .content-section {
            display: none;
            text-align: center;
            color: #ddd;
        }
        .content-section.active {
            display: block;
        }
